@model IEnumerable<JediTournamentWebApp.Models.JediWebModel>

@{ ViewBag.Title = "Gestion Jedis"; }

@Styles.Render("~/Content/css")

@section Scripts
{
    <script src="@Url.Content("~/Scripts/general.js")"></script>
}


@{ Html.BeginForm("Delete", "Jedi", FormMethod.Post, new { name = "tableForm" }); }
    @if (Model != null) {
        <table class="table table-striped gestion-table">
            <thead>
                <tr>
                    <th class="select-column"><input type="checkbox" /></th>
                    <th class="label-primary">Nom des jedis</th>
                    <th class="edit-column label-primary">Modifier</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr class="item">
                        <td><input type="checkbox" name="deleteInputs" value="@item.Id"/></td>
                        <td class="extendables">
                            <label>
                                @Html.DisplayFor(Model => item.Nom)
                            </label>
                            <div class="caracteristiques">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="label-primary">Nom</th>
                                            <th class="label-primary">Définition</th>
                                            <th class="label-primary">Valeur</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var c in item.Caracteristiques) {
                                            <tr class="item">
                                                <td>
                                                    <input type="text" disabled="disabled" value="@Html.DisplayFor(Model => c.Nom)"/>
                                                </td>
                                                <td>
                                                    <input type="text" disabled="disabled" value="@Html.DisplayFor(Model => c.Definition)" />
                                                </td>
                                                <td>
                                                    <input type="text" disabled="disabled" value="@Html.DisplayFor(Model => c.Valeur)" />
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td><img src="~/Content/edit.png" /></td>
                    </tr>
                }
            </tbody>
        </table>

        <a href="javascript:(function(){document.tableForm.submit();return void(0);})()"
           id="removeButton" class="btn btn-lg btn-danger">Remove</a>
    }
    else {
    <p>There is no jedi available !</p>
    }
    @{Html.EndForm(); }


<div class="creation-area">
    <h3>Add a jedi</h3>
    <!-- TODO : to fill -->
    <button id="createButton" class="btn btn-lg btn-success" type="button">Add</button>

</div>

