@model JediTournamentWebApp.Models.StadeWebModel
@Html.ValidationSummary(true)

@{ Html.BeginForm("Create", "Stade", FormMethod.Post, new { name = "CreateForm" }); }

<div class="panel panel-info">
    <div class="panel-heading">Add a stadium</div>
    <div class="creation-main">
        @Html.LabelFor(Model => Model.Planet)
        @Html.EditorFor(Model => Model.Planet)

        @Html.LabelFor(Model => Model.nbPlaces)
        @Html.EditorFor(Model => Model.nbPlaces)
    </div>
    <div class="creation-caracs">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Caracteristique(s)</th>
                    <th class="caracs-btn">
                        <div id="AddCaracButton" class="btn btn-default">+</div>
                        <div id="RemoveCaracButton" class="btn btn-default">-</div>
                    </th>
                </tr>
            </thead>
            <tbody id="CaracsContainer">
                <!-- Here will be added the characteristics -->
            </tbody>
        </table>
    </div>
    <a href="javascript:(function(){document.CreateForm.submit();return void(0);})()"
       id="createButton" class="btn btn-lg btn-success">Add a new Stadium</a>
</div>

@{Html.EndForm(); }

