@model JediTournamentWebApp.Models.StadeWebModel
@Html.ValidationSummary(true)

<td>@Html.HiddenFor(Model => Model.Id)</td>
<td colspan="2">
    <div class="creation-main">
        @Html.LabelFor(Model => Model.Planet)
        @Html.EditorFor(Model => Model.Planet)

        @Html.LabelFor(Model => Model.nbPlaces)
        @Html.EditorFor(Model => Model.nbPlaces)
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Caracteristique(s)</th>
                <th class="caracs-btn">
                    <div id="AddCaracButton" class="btn btn-default">+</div>
                    <div id="RemoveCaracButton" class="btn btn-default">-</div>
                </th>
            </tr>
        </thead>
        <tbody id="CaracsContainer">
            @{
                if (Model.Caracteristiques != null) {
                    foreach (var c in Model.Caracteristiques) {
                        Html.RenderAction("AddCarac");
                    }
                }
            }
            <!-- Here will be added the characteristics -->
        </tbody>
    </table>
</td>