@model JediTournamentWebApp.Models.CaracWebModel

@Html.ValidationSummary(true)



<td>@Html.HiddenFor(Model => Model.Id)</td>
<td>@Html.EditorFor(Model => Model.Nom)</td>
<td>
    <select class="enum-chooser" name="Definition">
        <option value="0" @((int)Model.Definition == 0 ? " selected" : "")>
            Strength
        </option>
        <option value="1" @((int)Model.Definition == 1 ? " selected" : "")>
            Dexterity
        </option>
        <option value="2" @((int)Model.Definition == 2 ? " selected" : "")>
            Perception
        </option>
    </select>
</td>
<td>
    <select class="enum-chooser" name="Type">
        <option value="0" @(Model.Type == 0 ? " selected" : "")>Jedi</option>
        <option value="1" @(Model.Type == 1 ? " selected" : "")>Stade</option>
    </select>
</td>
<td>@Html.EditorFor(Model => Model.Valeur)</td>

<td></td>
